* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}

.logo img {
    height: 50px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    position: relative;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

nav a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}






.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
}

.active {
    display: block;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); 
    }






footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8f8f8;
}

.footer-logo img {
    height: 50px;
    cursor: pointer;
    margin-bottom: 5px;
    justify-content: center;
}

.footer-contact-link {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    padding-bottom: 5px; 
}

.footer-contact-link:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a img {
    height: 25px;
    width: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}







.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.team-member {
    margin: 20px;
    text-align: center;
}

.team-member img {
    width: 350px;
    height: auto;
}







form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

form textarea {
    height: 100px;
    resize: vertical;
}

input::placeholder, textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    color: rgba(135, 135, 135, 0.555); 
    font-size: 16px; 
}

.submit-button {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    font-size: 20px; 
    background-color: rgb(241, 241, 241); 
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer; 
    position: relative; 
    margin-bottom: 150px; 
}

.submit-button:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    height: 3px; 
    width: 100%; 
    background-color: #000; 
}